<div class="Works">
	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<a href="https://placeholder.com"><img src="http://via.placeholder.com/350x500"></a>
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Ironside Computers 🕹️</h2>
					<h3 class="Work-description_skills">CSS - PHP - JS</h3>
					<div class="Work-description_copy">
						<p>Lorem ipsum dolor sit amet, wisi diceret appellantur an mel, consul labitur te pri. Id est graeco erroribus consequuntur. Vix in iisque imperdiet, fabulas qualisque ad per. Et his eripuit lobortis, sit enim eruditi offendit in. Nemore inermis at eum.</p>

					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<a href="https://placeholder.com"><img src="http://via.placeholder.com/350x500"></a>
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Ironside Computers 🕹️</h2>
					<h3 class="Work-description_skills">CSS - PHP - JS</h3>
					<div class="Work-description_copy">
						<p>Lorem ipsum dolor sit amet, wisi diceret appellantur an mel, consul labitur te pri. Id est graeco erroribus consequuntur. Vix in iisque imperdiet, fabulas qualisque ad per. Et his eripuit lobortis, sit enim eruditi offendit in. Nemore inermis at eum.</p>

					</div>
				</div>
			</div>
		</div>
	</section>
</div>