<div class="Works">
	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<a href="https://ironsidecomputers.com" target="_blank"><img src="{{ site.baseurl }}/images/ironside.gif"></a>
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Ironside Computers 🕹️</h2>
					<h3 class="Work-description_skills">Woocommerce - JS - CSS</h3>
					<div class="Work-description_copy">
						<p>Ironside is a site that allows users to build custom gaming PCs. I extended the product customizer to allow for organizing components into tabs and collapsible sections. Individual components were further extended to present additional information, such as specs and videos in modals.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<a href="https://seals.com" target="_blank"><img src="{{ site.baseurl }}/images/seals.gif"></a>
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Seals 🔒</h2>
					<h3 class="Work-description_skills">Magento - JS - CSS</h3>
					<div class="Work-description_copy">
						<p>As the name implies Seals provides industrial seals - not the animal - for various applications. The product page was extended to allow for conditional custom options that changed based on what the user selected. The quantity selector was extended to allow users to select quantities from a dropdown based on the product’s tier pricing in the backend.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<a href="https://www.newgrounds.com/portal/view/488604?id=488604" target="_blank"><img src="{{ site.baseurl }}/images/brave-gunner.gif"></a>
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Brave Gunner 🚀</h2>
					<h3 class="Work-description_skills">ActionScript - Wiicade API - Design</h3>
					<div class="Work-description_copy">
						<p>Brave Gunner is 2D vertical shmup inspired by some of my favorites video games. I drew the designs which then made into assets by an artist. The sound effects were made using various VSTs. A novel feature at the time was that  the game utilized the Wiicade API to allow players to use the Wii remote to play when using the Wii’s browser.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="Work">
		<div class="Work-container container">
			<div class="Work-illustration Work-col">
				<img src="{{ site.baseurl }}/images/norman-francis.jpg">
			</div>
			<div class="Work-description Work-col" data-aos="fade">
				<div class="Work-description_contents">
					<h2 class="Work-description_title">Personal Site 📄</h2>
					<h3 class="Work-description_skills">Jekyll - Github - CSS</h3>
					<div class="Work-description_copy">
						<p>The goal of this site act as a testbed for experimenting with different technologies and tools. Speed and security were two of the reasons I decided to use Jekyll to build this site but also because it was something I new to me.  I plan to iterate on this site as I become more familiar with what Jekyll has to offer.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>