.Work {
    margin-bottom: 25rem;
}

.Work-container {
    align-items: center;

    @media (max-width: 767px) {
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.Work-col {
    padding: 0 30px;  
}

.Work-description {
    @media (min-width: 768px) {
        width: 50%;
        flex-shrink: 0;
    }
}

.Work-description_contents {
   /* max-width: 440px;*/
}

.Work-description_title {
    font-size: 3rem;
}

.Work-description_skills {

}

.Work-description_copy {

}

.Work-illustration {
    text-align: center;
}

.Work:nth-child(2n+0) .Work-container {
    @media (min-width: 768px) {
        flex-direction: row-reverse;
    }
}