<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
		<link rel="stylesheet" href="bower_components/aos/dist/aos.css" />
		<script src="bower_components/aos/dist/aos.js"></script>
	    <!-- link to main stylesheet -->
	    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">
	    <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109678597-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-109678597-1');
		</script>
	</head>
	<body>
		<div class="main">
    		{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:hi@normanfrancis.com">email</a></li>
        		<li><a href="https://github.com/normanfrancis">github.com/normanfrancis</a></li>
			</ul>
		</footer>
	</body>

	<script>
		AOS.init({
			once: true,
			duration: 600
		});
	</script>
</html>
